

<template>
  <v-snackbar
      :timeout="1500"
      color="red"
      elevation="24"
      v-model="snackbar"
  > <span>{{snackMessage}}</span>
  </v-snackbar>
  <div class="card-button-holder">
    <button>
      <v-btn class="createButton" @click="toggleCreateStudent">Criar Aluno</v-btn>
    </button>

    <v-card v-if="createMode" class="createCard">
      <v-card-item>
        <v-text-field  v-model="students.nome" label="Nome" />
        <v-text-field  v-model="students.matricula" label="Matricula" />
        <v-text-field v-model="students.hobbies" label="Hobbies" />
      </v-card-item>

      <v-card-actions class="buttons">
        <v-btn class="editButton" @click="createStudent" >salvar</v-btn>
        <v-btn class="cancelButton button" @click="toggleCreateStudent">cancelar</v-btn>

      </v-card-actions>
    </v-card>
  </div>

</template>

<script>


import {createStudent} from "@/services/students.js";

export default{
  methods: {
    toggleCreateStudent() {
      this.createMode = !this.createMode;
    },
    async createStudent(){
      try{
        await createStudent(this.students)
      this.$emit('refreshStudents');
        this.toggleCreateStudent();
      }
      catch (e){
        this.snackMessage = `Erro: ${e.response.data.message}`;
        this.snackbar = !this.snackbar;
      }
    }

  },
  data(){
    return{
      createMode: false,
      students: {
        nome: '',
        matricula: '',
        hobbies: '',
      },
      snackbar: false,
      snackMessage: ""
    }

  }
}
</script>

<style scoped>

.createButton{
  align-items: center;
  border: 0;
  border-radius: 8px;
  box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Roboto, sans-serif;
  justify-content: center;
  line-height: 1rem;
  min-width: 50px;
  padding: 10px 15px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.createButton:hover{
  transform: translate(5px,5px);
  box-shadow: none;
  color: #5B42F3FF;
  background-image: linear-gradient(90deg, #cbc7cc, #c5bfe0 50%, #73bec7);
}

.createCard {
  margin-top: 10px;
  background-image: linear-gradient(90deg, #e8e4e8, #c1bcd9 50%, #c3c1c7);
}

.card-button-holder {
  display: flex;
  align-items: center;
  flex-direction: column;
}

</style>