<template>
  <div class="greetings">
    <h1 class="green">{{ msg }}</h1>
    <h3>
      Você chegou no treinamento de dev 2024 da
      <a href="https://www.instagram.com/equipesiga_ufrj/" target="_blank">Equipe Siga</a>
    </h3>
  </div>
</template>

<script>
export default {
  props: {
    msg: {
      type: String,
      required: true,
    }
  }
}
</script>

<style scoped>
a, .green {
  text-align: center;
}
.greetings {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings {
    text-align: left;
  }
}
</style>
