<template>
  <v-snackbar
      :timeout="1500"
      color="red"
      elevation="24"
      v-model="snackbar"
  > <span>{{snackMessage}}</span>
  </v-snackbar>
  <v-card v-if="!editMode" class="VcardContainer">
    <v-card-item>
      <div>
        <v-card-title
          >{{ student?.nome }} - {{ student?.matricula }}</v-card-title
        >
        <v-card-subtitle>{{ student?.situacaoMatricula.nome }}</v-card-subtitle>
        <v-card-subtitle>Meus Hobbies</v-card-subtitle>
        <v-card-text class="legendaHobbie">{{ student?.hobbies }}</v-card-text>
      </div>
    </v-card-item>

    <v-card-actions class="buttons">
      <v-btn class="editButton button" @click="toggleEditStudent">editar</v-btn>
      <v-btn class="deleteButton button" @click="deleteStudent">deletar</v-btn>
    </v-card-actions>
  </v-card>

  <v-card v-if="editMode" class="update-card-holder">
    <v-card-item>
      <v-text-field v-model="updatedStudent.nome" label="Nome" />
      <v-card-subtitle class="legendaMatricula">Matrícula</v-card-subtitle>
      <v-card-text class="numeroMatricula">{{ updatedStudent.matricula }}</v-card-text>
      <v-text-field v-model="updatedStudent.hobbies" label="Hobbies" />
    </v-card-item>

    <v-card-actions class="buttons">
      <v-btn class="saveButton button" @click="updatedStudentByMatricula">salvar</v-btn>
      <v-btn class="cancelButton button" @click="cancelRegistration">cancelar</v-btn>

    </v-card-actions>
  </v-card>
</template>

<script>
import {
  deleteStudentByMatricula,
  createStudent, updateStudent,
} from '@/services/students.js';

export default {
  data() {
    return {
      editMode: false,
      snackbar: false,
      snackMessage: ""
    };
  },
  computed: {
    updatedStudent: {
      get() {
        return this.$props.student;
      },
      set(value) {
        this.$props.student = value;
      },
    },
  },
  props: {
    student: {
      type: Object,
      required: true,
    },
  },
  methods: {
    toggleEditStudent() {
      this.editMode = !this.editMode;
    },
    async deleteStudent() {
      try {
        await deleteStudentByMatricula(this.student.id);
        this.$emit('refreshStudents');
      } catch (e) {
        this.snackMessage = `Erro: ${e.response.data.message}`;
        this.snackbar = !this.snackbar;
      }

    },
    async updatedStudentByMatricula() {
      try {
        await updateStudent(this.updatedStudent.matricula, this.updatedStudent);
        this.$emit('refreshStudents');
        this.toggleEditStudent();
      } catch (e) {
        this.snackMessage = `Erro: ${e.response.data.message}`;
        this.snackbar = !this.snackbar;
      }

    },
    cancelRegistration(){
      this.$emit('refreshStudents');
      this.toggleEditStudent();
    }
  },
};
</script>

<style scoped>
.v-card-text {
  padding: 0;
}
.saveButton{
  background-image: linear-gradient(90deg, #5bb45b, #3ea136 50%, #078508);
}
.saveButton:hover {
  background-image: linear-gradient(90deg, #cbc7cc, #c5bfe0 50%, #73bec7);
  color: #078508FF;
}
.update-card-holder {
  background-image: linear-gradient(90deg, #e8e4e8, #c1bcd9 50%, #c3c1c7);
}
.legendaMatricula{
  margin-left: 1rem;
  margin-bottom: 0;
}

.numeroMatricula{
  margin-left: 1rem;
  margin-bottom: 16px;
}



.VcardContainer {
  width: 380px;
  height: 220px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: rgb(232, 230, 227);
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin-top: 2rem;
}

.button{

  align-items: center;
  border: 0;
  border-radius: 8px;
  box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Roboto, sans-serif;
  justify-content: center;
  line-height: 1rem;
  min-width: 50px;
  padding: 10px 15px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s ease-in-out;

}

.button:hover{
  transform: translate(5px,5px);
  box-shadow: none;
}

.button.editButton{
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.button.deleteButton{
  background-image: linear-gradient(144deg,#FF4040, #F3425B 50%, #eb00a1);
}

.button.cancelButton{
  background-image: linear-gradient(144deg,#FFD740, #F3A142 50%, #a1a138);
}


.editButton:hover {
  color: #5B42F3FF;
  background-image: linear-gradient(90deg, #cbc7cc, #c5bfe0 50%, #73bec7);
}

.deleteButton:hover {
  background-image: linear-gradient(90deg, #cbc7cc, #c5bfe0 50%, #73bec7);
  color: #F3425BFF;
}

.cancelButton:hover {
  background-image: linear-gradient(90deg, #cbc7cc, #c5bfe0 50%, #73bec7);
  color: #ffea08;
}

.legendaHobbie{
  font-weight: bold;
}



</style>
