@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: 'Roboto', 'sans-serif';
  font-family: inherit;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
body {
  background-color: #1f071f;
}
@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
  }
}
