<template>
  <v-snackbar
      :timeout="1500"
      color="red"
      elevation="24"
      v-model="snackbar"
  > <span>{{snackMessage}}</span>
  </v-snackbar>
  <header>
      <div class="logo-title-holder">
    <img alt="Vue logo" class="logo" src="./assets/logo.png" width="125" height="125"/>

    <div class="wrapper">
      <HelloWorld msg="Você conseguiu!"/>
    </div>
      </div>
    <Create @refreshStudents="getStudents"/>
  </header>

  <main class="cardContainer">
    <v-container class="teste">
      <v-row>
        <v-col v-for="(student, i) in students" :key="i" cols="auto">
          <StudentCard :student="student" @refreshStudents="getStudents"/>
        </v-col>
      </v-row>

    </v-container>
  </main>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import StudentCard from './components/StudentCard.vue'
import {getAllStudents} from "@/services/students.js";
import Create from "@/components/Create.vue";

export default {
  components: {
    Create,
    HelloWorld,
    StudentCard
  },

  created() {
    this.getStudents()
  },
  data() {
    return {
      students: [],
      fontFamily:{
        default: 'Roboto',
      },
      snackMessage: "",
      snackbar: false
    }
  },
  methods: {
    async getStudents() {
      try{
        const students = await getAllStudents();

        this.students = students;
      } catch (e) {
        this.snackMessage = `Erro: ${e.response.data.message}`;
        this.snackbar = !this.snackbar;
      }

    }
  },

}
</script>

<style scoped>
header {
  display: flex;
  place-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}
.logo-title-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .cardContainer {
    max-height: 100vh;

  }

  .v-row {
    display: flex;
    width: 100vw;
  }
  .cardContainer::-webkit-scrollbar {
    display: none;
  }
  .v-col{
    width:400px;
  }

}
</style>
